!!!
%html
  %head
    %title sina-chat
    %link(rel='stylesheet' href='css/bootstrap.min.css')
    %link(rel='stylesheet' href='css/bootstrap-responsive.min.css')
  %body
    .container-fluid

      %script{:src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'}
      %script{:src => 'js/bootstrap.min.js'}

      %div{:style => 'padding-top:60px'}

      %body
        =yield

      #footer
        %h6 sina-chat
