!!!
%html
  %head
    %title sina-chat
    %link(rel='stylesheet' href='css/bootstrap.min.css')
    %link(rel='stylesheet' href='css/bootstrap-responsive.min.css')
  %body
    .container-fluid

      #header
        %h3 sina-chat

      %div{:style => 'padding-top:20px'}

      =yield

      #footer
        %h3 footer

      %script{:src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'}
      %script{:src => 'js/bootstrap.min.js'}
